.button {
  background-color: var(--bg-white);
  display: flex;
  gap: var(--spacing-20);
  cursor: pointer;
  align-items: center;
  border-radius: var(--border-radius-default);
  padding: var(--spacing-12) var(--spacing-32);
  font-size: var(--font-size-22);
  font-weight: 700;
  line-height: 140%;
  box-shadow: 0px 0px 20px 0px var(--text-white-alpha-40);
  color: var(--text-black);
  border: 1px solid transparent;
  transition: background-color 0.5s ease, color 0.5s ease,
    border-color 0.5s ease, box-shadow 0.5s ease;
}

.button svg path {
  transition: stroke 0.5s ease;
}

.button svg {
  width: var(--spacing-28);
}

.button:hover {
  box-shadow: 0px 0px 20px 0px transparent;
  color: var(--text-white);
  background-color: transparent;
  border-color: var(--text-white);
}

.button:hover svg path {
  stroke: var(--text-white);
}

.button:active {
  color: var(--text-black);
  background-color: var(--bg-white);
  border-color: transparent;
}

.button:active svg path {
  stroke: var(--text-black);
}

.button:disabled {
  box-shadow: 0px 0px 20px 0px transparent;
  background-color: var(--text-white-alpha-20);
  color: var(--text-white-alpha-60);
  pointer-events: none;
}

.button:disabled svg path {
  stroke: var(--text-white-alpha-60);
}

@media (max-width: 480px) {
  .button {
    font-size: 16px;
  }
}
