/* welcome */
.welcome {
  position: relative;
  height: 100vh;
}

.welcome .overflow-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.welcome #welcome-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: url("../media/images/welcome/bgArch.png") no-repeat top/ cover;
  z-index: 2;
  mask-image: radial-gradient(circle, transparent -300%, #fff);
  mask-size: contain;
  mask-repeat: no-repeat;
  will-change: transform, mask-image;
  pointer-events: none;
}

.welcome .sky-content {
  opacity: 1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../media/images/slider/skyBg.jpeg") no-repeat center / cover;
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  z-index: 1;
  mask-image: radial-gradient(circle, transparent -300%, #fff);
  mask-size: contain;
  mask-repeat: no-repeat;
  will-change: transform, mask-image;
}

.welcome .sky-content :where(h2, h3) {
  transform: scale(0.8);
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-96);
  text-shadow: 0px 0px 10px var(--text-white);
  color: var(--text-white);
}

.welcome .sky-content h3 {
  font-size: var(--font-size-128);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
}

.swiper-container {
  width: 100%;
  height: 50%;
  transform: translateY(30%) scale(0.85);
  opacity: 0;
  will-change: transform, opacity;
}

.swiper-next,
.swiper-prev {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 32vw;
  width: 40px;
  height: 40px;
  background: url("../media/images/slider/arrowLeft.svg") no-repeat center /
    contain;
  transform: translateX(-120%);
}

.swiper-next {
  transform: translateX(20%) rotateY(180deg);
}

.swiper-slide {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1.5s ease;
  z-index: 0;
  user-select: none;
}

.swiper-slide div {
  background-image: url(./media/images/slider/card1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 169%;
  border-radius: 20px;
  transform: translateY(60%) scale(0.6);
  transition: transform 1.5s ease;
  will-change: transform;
}

.swiper-slide-active {
  z-index: 3;
  cursor: pointer;
}

.swiper-slide-active div {
  transform: none;
}

.swiper-slide-active:hover div {
  transform: scale(1.05) rotate(3deg);
}

.swiper-slide-prev,
.swiper-slide-next {
  z-index: 2;
}

.swiper-slide-prev div {
  transform: rotateY(20deg) skew(15deg, -10deg) scale(0.88) translate(-15%, 13%);
}

.swiper-slide-next div {
  transform: rotateY(-20deg) skew(-15deg, 10deg) scale(0.88) translate(15%, 13%);
}

.swiper-slide-next + .swiper-slide,
.swiper-slide:has(+ .swiper-slide-prev) {
  z-index: 1;
}

.swiper-slide-next + .swiper-slide div {
  transform: rotateX(20deg) rotateY(-25deg) skew(-35deg, 25deg)
    scale(0.75, 0.65) translate(15%, 35%);
}

.swiper-slide:has(+ .swiper-slide-prev) div {
  transform: rotateX(20deg) rotateY(25deg) skew(35deg, -25deg) scale(0.75, 0.65)
    translate(-15%, 35%);
}

.welcome .content {
  color: var(--text-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 40%;
  top: 18vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: all;
}

.welcome .content h1 {
  font-size: var(--font-size-116);
  text-shadow: 0px 0px 40px var(--text-white);
  line-height: 100%;
}

.welcome .content p {
  font-size: var(--font-size-26);
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 2.5vw;
  margin-top: 4vw;
  text-shadow: 0px 0px 8px #000;
}

.welcome .content .button {
  padding: 3px 3px 3px 20px;
}

.welcome .content .button svg {
  width: 38px;
  height: 38px;
  margin-left: 4.7vw;
}

@media (min-width: 1440px) {
  .welcome .content .button svg {
    width: 48px;
    height: 48px;
  }

  .welcome .content .button {
    padding: 4px 4px 4px 20px;
  }
}

.welcome .content .button svg path {
  stroke: none;
}

.welcome .content .button svg circle,
.welcome .content .button svg g path {
  transition: fill 0.5s ease;
}

.welcome .content .button:not(:active):hover svg circle {
  fill: var(--bg-white);
}

.welcome .content .button:not(:active):hover svg g path {
  fill: #121112;
}
/* welcome */

/* phone-section */
.phone-section {
  background: linear-gradient(
    180deg,
    rgba(15, 12, 29, 1) 0%,
    rgb(14 9 27) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.8% 8.3%;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: inset 0 50px 50px #020308;
}

.overflow-hidden {
  display: none;
}

.phone-section .video-globe {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 55%;
  height: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  will-change: transform;
}

.phone-section .video-globe .mobileVideo {
  display: none;
}

.phone-section .video-slider-container {
  overflow: hidden;
  height: 39.5vw;
  width: 22.5%;
  display: flex;
  border-radius: 35px;
  position: relative;
  z-index: 2;
}

.phone-section .video-slider-container .video-slider {
  width: 100%;
  height: 100%;
}

.phone-section .mockup {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.5%;
  height: 100%;
  background: url("../media/images/phone-block/mockup.png") no-repeat
    center/contain;
}

.phone-section .navigation-swiper {
  color: var(--text-white);
  width: 30%;
}

.phone-section .navigation-swiper ul li {
  font-size: var(--font-size-32);
  color: var(--text-white-alpha-60);
  font-weight: 500;
  margin-bottom: 10%;
  cursor: pointer;
  transition: color 0.5s ease;
  display: flex;
  align-items: center;
  gap: 3.5%;
  position: relative;
}

.phone-section .navigation-swiper ul li .star {
  position: absolute;
  left: -5%;
}

.phone-section .navigation-swiper ul li .star g {
  transform: scale(0);
  transform-origin: center;
  transition: transform 1s cubic-bezier(0, 1.12, 0.59, 1.22);
}

.phone-section .navigation-swiper ul li:last-of-type {
  margin-bottom: 0;
}

.phone-section .navigation-swiper ul li.active {
  color: var(--text-white);
}

.phone-section .navigation-swiper ul li.active .star g {
  transform: scale(1);
}

.phone-section .slide-change-buttons {
  display: none;
}

.phone-section .text-block {
  width: 30%;
  background: linear-gradient(
    283deg,
    rgba(255, 255, 255, 0.01) -3%,
    rgba(255, 255, 255, 0.06) 47.81%,
    rgba(255, 255, 255, 0.01) 97.62%
  );
  padding: 3.6% 2.4%;
  box-shadow: -10px 0px 44px 0px rgba(64, 37, 108, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: var(--text-white);
  border-radius: var(--border-radius-default);
  position: relative;
  z-index: 2;
}

.phone-section .text-block h3 {
  font-size: var(--font-size-40);
  margin-bottom: var(--spacing-8);
}

.phone-section .text-block p {
  color: var(--text-white-alpha-60);
  font-weight: 500;
  line-height: 140%;
  font-size: var(--font-size-23);
}
/* phone-section */

/* .statistics */
.statistics {
  position: relative;
  z-index: -1;
  padding-top: 6.9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 116.3vh;
  background: url("../media/images/statistics/statisctisBg.jpeg") no-repeat
    bottom/cover;
}

.statistics h3 {
  font-size: var(--font-size-96);
  color: var(--text-white);
  position: relative;
  z-index: 1;
}

.statistics .cards {
  margin-top: 10.5%;
  display: flex;
  color: var(--text-white);
  padding: 0 8.3%;
  gap: 7.4%;
  position: relative;
}

.statistics .cards .card {
  width: calc(100% / 3);
  position: relative;
  box-shadow: -10px 0px 44px 0px rgba(64, 37, 108, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 3.2% 2.4%;
  border-radius: var(--border-radius-default);
}

.statistics > img {
  position: absolute;
  top: 11%;
  left: 47%;
  width: 6%;
  object-fit: contain;
  animation: shine 1s ease infinite alternate;
  transform: scale(0);
}

@keyframes shine {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

.statistics > img:nth-of-type(2),
.statistics > img:nth-of-type(4) {
  width: 5.5%;
}

.statistics > img:nth-of-type(1) {
  animation-delay: 0;
}

.statistics > img:nth-of-type(2) {
  animation-delay: 0.2s;
}

.statistics > img:nth-of-type(3) {
  animation-delay: 0.4s;
}

.statistics > img:nth-of-type(4) {
  animation-delay: 0.6s;
}

.statistics .cards .card:nth-last-of-type(2) {
  transform: translateY(-32%);
}

.statistics .cards .card h4 {
  font-size: var(--font-size-76);
  line-height: 120%;
}

.statistics .cards .card h5 {
  font-size: var(--font-size-32);
  line-height: 120%;
  margin-top: -3.5%;
  margin-bottom: 8%;
}

.statistics .cards .card p {
  line-height: 140%;
  font-weight: 500;
  color: var(--text-white-alpha-60);
  font-size: var(--font-size-22);
}
/* statistics */

/* download-now */
.download-now {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 307vh;
  background: url("../media/images/download-now/downloadBg.jpeg") no-repeat
    top/cover;
  position: relative;
  padding-bottom: 11%;
}

.download-now .content {
  position: sticky;
  top: 16.5%;
  text-align: center;
  color: var(--text-white);
}

.download-now .content h2 {
  font-size: var(--font-size-128);
  text-shadow: 0px 0px 40px var(--text-white-alpha-80);
  margin-bottom: var(--spacing-28);
}

.download-now .content p {
  font-size: var(--font-size-32);
  font-weight: 500;
}

.download-now .content .download-text {
  font-size: 1.4vw;
  font-weight: 500;
}

.download-now .content .images {
  display: flex;
  justify-content: center;
  margin: 2.6vw 0 1.1vw;
  gap: var(--spacing-34);
}

.download-now .content .images > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.download-now .content .images > div img {
  max-width: 100%;
  object-fit: contain;
  height: 100%;
}

.download-now .content .images > div .qrImage {
  box-shadow: 0px 0px 40px 0px var(--text-white-alpha-60);
  border-radius: var(--border-radius-xsmall);
  position: relative;
  z-index: -1;
  margin-top: var(--spacing-48);
  width: 80%;
}

/* .download-now .content .images > div:last-of-type {
  align-items: flex-start;
} */
/* download-now */

/* ripples-block */
#ripples {
  height: 100vh;
  background: url("../media/images/taro-block/cardTaroBg.jpeg") no-repeat center /
    cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 19vw;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.taro-card-front,
.taro-card-back {
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  height: 39vw;
  -ms-transition: transform 3s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  transition: transform 3s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  -webkit-transition: transform 3s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.taro-card-front {
  background: url("../media/images/taro-block/cardTaro.jpeg") no-repeat center /
    cover;
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .taro-card-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.taro-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url("../media/images/taro-block/cardTaroBack.jpeg") no-repeat
    center / cover;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.flip-box:hover .taro-card-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-header {
  color: var(--text-white-alpha-80);
  -webkit-perspective: inherit;
  perspective: inherit;
  transform: translateZ(60px) scale(0.94);
  -webkit-transform: translateZ(60px) scale(0.94);
  -ms-transform: translateZ(60px) scale(0.94);
  font-size: var(--font-size-32);
  text-transform: uppercase;
  text-align: center;
}

/* ripples-block */

/* form-block */
.form-block {
  padding: 6.9% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.form-block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 80%;
  height: 100%;
  transform: translateX(-50%);
  background: url("../media/images/lets-talk/formBg.png") no-repeat center/80%;
  z-index: -1;
}

.form-block img {
  position: absolute;
  object-fit: contain;
  opacity: 0.9;
  z-index: -1;
}

.form-block img:nth-of-type(1) {
  left: 20.6%;
  top: 17.5%;
  width: 7%;
  animation: floating1 3s ease-in-out infinite;
}

@keyframes floating1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.form-block img:nth-of-type(2) {
  right: 14%;
  top: 20%;
  width: 8.5%;
  animation: floating2 5s ease-in-out infinite;
}

@keyframes floating2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.form-block img:nth-of-type(3) {
  left: 11.5%;
  bottom: 16.5%;
  width: 11%;
  animation: floating3 60s ease-in-out infinite;
}

@keyframes floating3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: translateX(70%) rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.form-block img:nth-of-type(4) {
  right: 20%;
  bottom: 11%;
  width: 16%;
  animation: floating4 10s ease-in-out infinite;
}

@keyframes floating4 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.form-block h3 {
  color: var(--text-white);
  font-size: var(--font-size-96);
  margin-bottom: var(--spacing-70);
}

.form-block form {
  display: flex;
  flex-direction: column;
  width: 34%;
}

.form-block form input,
.form-block form textarea {
  resize: none;
  border: 1px solid transparent;
  outline: none;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: var(--border-radius-small);
  color: var(--text-white);
  padding: var(--spacing-22) var(--spacing-24);
  font-size: var(--font-size-22);
  margin-bottom: var(--spacing-32);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

.form-block form textarea {
  height: 7.7vw;
}

.form-block form input::placeholder,
.form-block form textarea::placeholder {
  color: var(--text-white-alpha-80);
}

.form-block form input:hover,
.form-block form textarea:hover {
  border-color: var(--text-white-alpha-20);
  box-shadow: 0px 0px 20px 0px var(--text-white-alpha-10);
}

.form-block form input:focus,
.form-block form textarea:focus {
  border-color: var(--text-white-alpha-20);
  box-shadow: none;
}

.form-block form label {
  font-size: var(--font-size-16);
  color: var(--text-white);
  padding-bottom: var(--spacing-10);
}

.form-block form label.error-message {
  color: #ef2f6e;
  height: 0;
  padding: 0;
  display: flex;
  align-items: center;
  transform: translateY(-10px);
}

.form-block form label.error-message::before {
  content: "";
  background: url("../media/icons/error.svg") no-repeat center/contain;
  width: var(--spacing-24);
  height: var(--spacing-24);
  display: inline-block;
  transform: translateY(-1px);
  margin-right: 4px;
}

.form-block form button {
  width: max-content;
  margin: var(--spacing-22) auto 0;
}
/* form-block */

/* privacy-policy */
.privacy-policy-body {
  background: var(--bg-dark) url("../media/images/privacy/bg.png") no-repeat
    center/cover;
}

.privacy-policy-body footer {
  background-color: transparent;
  padding: 0 5.5% 3%;
}

.privacy-policy {
  padding: 12% 42% 6.3% 5.5%;
  color: var(--text-white);
}

.privacy-policy :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-cabinet);
}

.privacy-policy :is(h1, h5) {
  font-size: 1.97vw;
  font-weight: 700;
  letter-spacing: -0.6px;
  margin-bottom: 1.4vw;
}

.privacy-policy h5 {
  margin-top: 2.9vw;
}

.privacy-policy p,
.privacy-policy ul li {
  font-weight: 500;
  line-height: 140%;
  font-size: 1.13vw;
  color: var(--text-white-alpha-80);
  letter-spacing: -0.6px;
  margin-bottom: 0.8vw;
}

.privacy-policy p b {
  color: var(--text-white);
  font-weight: 700;
}

.privacy-policy ul {
  padding-left: 1.7vw;
  margin-bottom: 0.8vw;
}

.privacy-policy ul li {
  list-style-type: disc;
  margin-bottom: 0;
}

.privacy-policy a {
  text-decoration: underline;
  font-weight: 800;
  color: var(--text-white);
}
/* privacy-policy */

.overflow-hidden-mobile {
  display: block;
  width: 100%;
  overflow: hidden;
}

/* circles-block */
#circles {
  height: 100vh;
  background: url("../media/images/circles/starsBg.jpeg") no-repeat center /
    150%;
  box-shadow: inset 0 50px 50px #020308, inset 0 -50px 50px #020308;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  will-change: background-size;
  /* opacity: 0; */
}

#circles .content-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../media/images/circles/circleStarsMedium.png") no-repeat
    center / 30%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: background-size;
}

#circles .content-block h3 {
  color: white;
  text-align: center;
  text-shadow: 0px 0px 17px #9250ff;
  font-size: var(--font-size-36);
  font-weight: 400;
  line-height: 140%;
  opacity: 0;
  transform: scale(0.7);
}

#circles .card {
  width: 25%;
  position: absolute;
  box-shadow: -10px 0px 44px 0px rgba(64, 37, 108, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 1.1% 2.5% 1.1% 1.1%;
  border-radius: var(--border-radius-small);
  opacity: 0;
  will-change: transform, opacity;
}

#circles .card:nth-of-type(1) {
  top: 10%;
  left: 43%;
  transform: translate(-30%, 150%) scale(0.3);
}

#circles .card:nth-of-type(2) {
  top: 45%;
  transform: translate(-70%, -60%) scale(0.3);
  right: 10%;
}

#circles .card:nth-of-type(3) {
  bottom: 5%;
  right: 36%;
  transform: translate(30%, -150%) scale(0.3);
}

#circles .card:nth-of-type(4) {
  top: 55%;
  transform: translate(70%, -60%) scale(0.3);
  left: 11%;
}

#circles .card h4 {
  color: var(--text-white);
  margin-bottom: var(--spacing-8);
  font-size: var(--font-size-32);
  padding-right: 5%;
}

#circles .card p {
  line-height: 140%;
  color: var(--text-white-alpha-60);
  font-weight: 500;
  font-size: var(--font-size-20);
}

#circles .card img {
  position: absolute;
  top: -9%;
  right: -2%;
  object-fit: contain;
  width: 22%;
}

#circles .logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.8);
  opacity: 0;
  background: url("../media/images/circles/logo.svg") no-repeat center / 40%;
  will-change: transform, opacity;
}
/* circles-block */
