:root {
  --font-revolve: "Revolve";
  --font-cabinet: "CabinetGrotesk";

  /* spacings */
  --spacing-120: 6.17vw;
  --spacing-100: 5.14vw;
  --spacing-80: 4.11vw;
  --spacing-70: 3.6vw;
  --spacing-64: 3.28vw;
  --spacing-56: 2.88vw;
  --spacing-48: 2.47vw;
  --spacing-40: 2.06vw;
  --spacing-34: 1.74vw;
  --spacing-32: 1.64vw;
  --spacing-30: 1.54vw;
  --spacing-28: 1.46vw;
  --spacing-24: 1.23vw;
  --spacing-22: 1.128vw;
  --spacing-20: 1.03vw;
  --spacing-15: 0.77vw;
  --spacing-12: 0.62vw;
  --spacing-10: 0.51vw;
  --spacing-8: 0.41vw;

  /* --spacing-225: 11.57vw; */
  /* --spacing-140: 7.2vw; */
  /* --spacing-130: 6.68vw; */
  /* --spacing-110: 5.63vw; */
  /* --spacing-90: 4.63vw; */
  /* --spacing-85: 4.3vw; */
  /* --spacing-60: 3.1vw; */
  /* --spacing-36: 1.84vw; */
  /* --spacing-34: 1.74vw; */
  /* --spacing-30: 1.54vw; */
  /* --spacing-27: 1.38vw; */
  /* --spacing-22: 1.128vw; */
  /* --spacing-18: 0.92vw; */
  /* --spacing-16: 0.82vw; */
  /* --spacing-14: 0.72vw; */
  /* --spacing-10: 0.51vw; */
  /* --spacing-8: 0.41vw; */

  /* font-sizes */
  --font-size-128: 6.63vw;
  --font-size-116: 5.94vw;
  --font-size-96: 4.93vw;
  --font-size-84: 4.408vw;
  --font-size-80: 4.11vw;
  --font-size-76: 3.9vw;
  --font-size-70: 3.6vw;
  --font-size-56: 2.88vw;
  --font-size-40: 2.06vw;
  --font-size-36: 1.84vw;
  --font-size-32: 1.64vw;
  --font-size-30: 1.54vw;
  --font-size-26: 1.31vw;
  --font-size-24: 1.23vw;
  --font-size-23: 1.18vw;
  --font-size-22: 1.128vw;
  --font-size-20: 1.03vw;
  --font-size-18: 0.92vw;
  --font-size-16: 0.82vw;
  --font-size-14: 0.72vw;
  --font-size-12: 0.62vw;

  /* --font-size-120: 6.17vw;
  --font-size-116: 5.94vw;
  --font-size-100: 5.14vw;
  --font-size-94: 4.82vw;
  --font-size-80: 4.11vw;
  --font-size-74: 3.8vw;
  --font-size-74: 3.8vw;
  --font-size-64: 3.28vw;
  --font-size-40: 2.06vw;
  --font-size-32: 1.64vw;
  --font-size-28: 1.46vw;

  /* colors */
  --text-white: #fff;
  --text-white-alpha-80: rgba(255, 255, 255, 0.8);
  --text-white-alpha-60: rgba(255, 255, 255, 0.6);
  --text-white-alpha-40: rgba(255, 255, 255, 0.4);
  --text-white-alpha-20: rgba(255, 255, 255, 0.2);
  --text-white-alpha-10: rgba(255, 255, 255, 0.1);
  --text-gray: #fefbf4;
  --text-black: #121112;

  --bg-white: #fff;
  --bg-dark: #0f0a1e;

  /* border-radius */
  --border-radius-default: 30px;
  --border-radius-small: 20px;
  --border-radius-xsmall: 12px;
}

@media (max-width: 480px) {
  :root {
    /* spacings */
    --spacing-305: 305px; /* (305px) */
    --spacing-238: 238px; /* (238px) */
    --spacing-160: 160px; /* (160px) */
    --spacing-120: 120px; /* (120px) */
    --spacing-116: 116px; /* (116px) */
    --spacing-88: 88px; /* (88px) */
    --spacing-86: 86px; /* (86px) */
    --spacing-80: 80px; /* (80px) */
    --spacing-78: 78px; /* (78px) */
    --spacing-74: 74px; /* (74px) */
    --spacing-73: 73px; /* (73px) */
    --spacing-70: 70px; /* (70px) */
    --spacing-64: 64px; /* (64px) */
    --spacing-60: 60px; /* (60px) */
    --spacing-57: 57px; /* (57px) */
    --spacing-56: 56px; /* (56px) */
    --spacing-55: 55px; /* (55px) */
    --spacing-50: 50px; /* (50px) */
    --spacing-48: 48px; /* (48px) */
    --spacing-47: 47px; /* (47px) */
    --spacing-42: 42px; /* (42px) */
    --spacing-40: 40px; /* (40px) */
    --spacing-38: 38px; /* (38px) */
    --spacing-36: 36px; /* (36px) */
    --spacing-34: 34px; /* (34px) */
    --spacing-32: 32px; /* (32px) */
    --spacing-30: 30px; /* (30px) */
    --spacing-28: 28px; /* (28px) */
    --spacing-27: 27px; /* (27px) */
    --spacing-25: 25px; /* (25px) */
    --spacing-24: 24px; /* (24px) */
    --spacing-22: 22px; /* (22px) */
    --spacing-20: 20px; /* (20px) */
    --spacing-18: 18px; /* (18px) */
    --spacing-17: 17px; /* (17px) */
    --spacing-16: 16px; /* (16px) */
    --spacing-15: 15px; /* (15px) */
    --spacing-14: 14px; /* (13px) */
    --spacing-13: 13px; /* (13px) */
    --spacing-12: 12px; /* (12px) */
    --spacing-10: 10px; /* (10px) */
    --spacing-7: 7px; /* (7px) */
    --spacing-6: 6px; /* (6px) */
    --spacing-5: 5px; /* (5px) */

    /* font-sizes */
    /* --font-size-116: 116px;  */
    /* --font-size-120: 120px;  */
    /* --font-size-116: 116px;  */
    /* --font-size-100: 100px;  */
    /* --font-size-94: 94px;  */
    /* --font-size-84: 84px;  */
    /* --font-size-80: 80px;  */
    /* --font-size-74: 74px;  */
    /* --font-size-74: 74px;  */
    /* --font-size-70: 70px;  */
    /* --font-size-64: 64px;  */
    /* --font-size-40: 40px;  */
    /* --font-size-32: 32px;  */
    /* --font-size-30: 30px;  */
    /* --font-size-28: 28px;  */
    /* --font-size-26: 26px;  */
    /* --font-size-20: 20px;  */
    /* --font-size-18: 18px;  */
    /* --font-size-16: 16px;  */
    /* --font-size-15: 15px;  */
    /* --font-size-14: 14px;  */
    /* --font-size-12: 12px;  */

    /* border-radius */
    --block-border-radius: 16px;
    --block-border-radius-small: 12px;
    --block-border-radius-xxs: 8px;
  }
}
